img {
    height: 200px;
    width: 200px;
}

a {
    color: azure;
    font-size: x-large;
    text-decoration: none;
}

li {
    display: inline-block;
    width: 50px;
    margin: 20px;
    inline-size: fit-content;
}
nav {
    display: inline-block;
    width: 50%;
    top: -100px;
    position: relative;
}
h1 {
    display: inline-block;
    margin-inline-start: 80px;
  }

  .box1 {
    width: 80%;
    height: 200px;
    background-color: bisque;
    background-image: url(../images/image.png);
    margin-left: 100px 
  }
  p {
    color: white;
    font-size: xx-large;
  }

  .box2 {
    margin-top: 100px;
    width: 48%;
    display: inline-block;
    background-image: url(../images/html.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.p2 {
    color: cornsilk;
}
body {
    background-image: url(../images/GDqpEN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.facebook {
    width: 20px;
    height: 20px;
}
.youtube {
    width: 20px;
    height: 20px;  
}
footer {
    margin-top: 35px;
    margin-left: 40px;
}
#facebook {
    display: inline-block;
}